body{
    
    text-align: center  ;
text-transform: uppercase;
letter-spacing: 0.5em;
top: 15%;
background: linear-gradient(to right,rgb(105, 53, 156), rgb(225, 85, 9));

}

h1{
    font-family:'Abril Fatface', cursive;
text-align: center  ;
text-transform: uppercase;
letter-spacing: 0.5em; 
width: 100%;
font-size: 80px;
}

h3{
    text-align: center  ;
    text-transform: none;
    letter-spacing: 0.03em;    
}

button{
    border-radius:8px ;
    font-family: 'Solitreo', cursive;
    font-size: 20px;
    margin-left: 30px;
    padding: 6px;
}

.content{
    margin-top: 80px;
}